*{
  font-family: "Open Sans",sans-serif;
}

body {
    margin: 0;
    background-color: #F8FBFF;
  }

  a{
    text-decoration: none;
  }
  
  ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 8%;
    background-color: white;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  li.navi {
    display: block;
    width: 55%;
    margin: auto;
    padding: 8px 16px;
    margin: 20px;
    border-radius: 25px;
    background-color: #AAACAE;
  }
  
  li.navi b{
    display: block;
    color: white;
    margin: auto;
    margin-top: 5px;
    text-align: center;
  }
  
  li.navi img{
    display: block;
    width: 60%;
    margin: auto;
  }
  .active {
    background-image: linear-gradient(to right, #F9881F , #FF774C);
    color: white;
  }
  
  li.navi:hover:not(.active) {
    background-color: #555;
    color: white;
  }

  div.page{
      margin-left:15%;
      padding:1px 16px;
      height:1000px;
  }

  div.tablelist {
      overflow: auto;
      white-space: nowrap;
  }

  .box {
    display: inline-block;
    color: rgb(0, 0, 0);
    width: 30%;
    text-align: center;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 20px 20px #aaaaaa18 ;
  }

  .table{
    padding: 0;
  }


  ul.platelist {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: scroll;
  }

  .plate{
    box-shadow: 0px 8px 15px #58585873 ;
    padding: 15px 10px;
    border-radius: 20px;
    margin: 15px 0;
  }

  .plate img{
    display: inline-block;
    right: 0;
    width: 20%;
    height: auto;
    float: left;
    border-style: solid;
    border-color: #F9881F;
    border-width: 2px;
    border-radius: 20px;
  }

  .plate h4{
    display: inline-block;
    text-align: left;
    float: left;
    margin: 5% 10px;
  }

  .button{
    float: right;
    background-image: linear-gradient(to right, #F9881F , #FF774C);
    border: none;
    border-radius: 15px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: 3% 10px;
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
  }
  
  button.rispondiChiamata{
    background-color: white; 
    color: #FF7617; 
    border: 2px solid #FF7617;
    font-size:25px; 
    padding: 8px 8px;
    border-radius: 50px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2)
  }
  button.rispondiChiamata:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
  }
  
  button.rispondiChiamata:active{
    background-color: #FF7617;
  }