*{

  font-family: "Open Sans",sans-serif;

}

a:link, a:visited {
  
  background-color: white;
  color: black;
  border: 2px solid #FF7617;
  padding: 10px 40px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-decoration: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2)
}

a:hover, a:active {
  
  background-color: #FF7617;
  color: white;
}

a.chiamaCameriere{
  font-size:25px; 
  padding: 8px 8px;
  border-radius: 50px 50px 50px 50px;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2)
}
a.chiamaCameriere:hover, a.chiamaCameriere:active {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}
a.chiamaCameriere:after, a.chiamaCameriere:active{
  font-size:25px; 
  padding: 8px 8px;
  border-radius: 50px 50px 50px 50px;
  background-color: #eeeeee;
  border: 1px solid #dfdfdf;
  opacity: 1;
  transition: 0s

}
li {
  list-style-type: none;
  padding-top: 20px;
}

nome { 

  display: block;
  font-size: 20 px;
  margin: 4px 2px;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: #FF7617; 
  text-decoration: none;
}

stato { 
  padding-top: 15px; 
  padding-left: 50px;
  display: block;
  font-size: 20px;
  margin: 20px 2px;
  font-weight: bold;
  color: rgb(67, 44, 0);
  text-decoration: none;
  
}

stato.inPreparazione{
 
  color: #F8CF00;
}
stato.inConsegna{
  color: #FF9300; 
}
stato.consegnato{
  color: #00DE00; 
}

button {

  background-color: #FF7617; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px 10px 10px 10px;
  font-weight: bold;
}
button {
  background-color: white; 
  color: #FF7617; 
  border: 2px solid #FF7617;
  font-family: Arial, Helvetica, sans-serif;

}

button:hover {
  background-color: #FF7617;
  color: white;
}

prezzo { 
  display: block;
  font-size: 14 px;
  margin: 4px 2px;
  margin-left: 0;
  margin-right: 0;
  color: #FF7617; 
  text-decoration: none;
  color: #8a8a8a; 
}

div.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: #F7FBFF;
}


body {
  background-color: #F7FBFF;
 align-self: center;
 align-items: center;
}

div.piatto{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  width: 600px;
  height: 180px;
  
}

div.piatto.consegnato{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: rgba(215, 215, 215, 0.646);
  border: 2px solid #00DE00; 
  border-radius: 10px 10px 10px 10px;

}

img.piatto{
  width: 100px; 
  height: 100px;
  border-radius: 10px 10px 10px 10px;
}
img.piattoMenu{
  width: 170px; 
  height: 170px;
  border-radius: 10px 10px 10px 10px;
  padding: 4px; 
}

table.piatti{
  width: 100%;
  height: 100px;
  border-collapse: collapse;
}



td.destra{
  width: 80%;
  padding-left: 20px; 
  padding-right: 20px;
}
td.sinistra{
  margin:0%; 
  width: 20%;
  text-align: center;

}

table.barraMenu{
  padding-left: 90px;
}
img.logo{
  padding-bottom: 20px;
  padding-left: 30px;
}

h2.luogo{
  padding-left: 40px; 
  padding-top: 2px; 
  color:#FF7617;
  font-weight: normal;

}

div.stato.inPreparazione{
  font-size:25px; 
  padding: 8px 8px;
  border-radius: 50px 50px 50px 50px;
  background-color: white;
}

button.aggiungi{
 
}